.blogpost video {
  width: 100%;
  max-height: 75vh;
}

/* This will collide with styles set by our plugins since gatsby-remark-images
will automatically generate figures. It's okay for now, but be careful of it */
.blogpost figure {
  font-style: italic;
  text-align: center;
}
